<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do  %>
    <%= image_tag("beer.png") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to "Add a Drink", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn"  %>
  </div>
</div>
